.navigation {
    padding: 1.5rem 3rem;
    @include flexAlignCenter;
    justify-content: space-between;

    &>* {
        color: #000;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__logo {
        width: 12rem;

        img {
            width: 100%;
        }
    }

    &__tools,
    &__nav {
        @include flexAlignCenter;
    }

    &__tools &__link {
        font-size: 1.8rem;

    }

    &__item {
        list-style: none;
        position: relative;

        &:not(:last-child) {
            margin-right: 4rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-10%, -50%);
            width: 0%;
            height: 4px;
            background-color: rgba($color-primary, .4);
            transition: all .3s ease;
        }

        &:hover::after {
            width: 110%;
        }
    }

    &__link {
        text-decoration: none;
        color: #000;
    }

    .socials-menu-btn {
        font-size: 2rem;
        cursor: pointer;
    }
}

.navigation-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}