*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.header,
.features,
.projects,
.testimonial,
.brands,
.stories,
.clients {
    padding: 10rem 20rem;
}

.header {
    padding: 10rem 20rem 0;
}

.footer {
    padding: 5rem 10rem;
}