.u-center {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-Vbig {
    margin-bottom: 20rem;
}

.u-margin-bottom-Xbig {
    margin-bottom: 25rem;
}

.u-margin-top-xxsmall {
    margin-top: .5rem;
}

.u-margin-top-xsmall {
    margin-top: 1rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-big {
    margin-top: 10rem;
}

.u-margin-top-Vbig {
    margin-top: 20rem;
}

.u-margin-top-Xbig {
    margin-top: 25rem;
}

.fs-xsm {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.fs-sm {
    font-size: 1.4rem;
    font-weight: 500;
}

.fs-md {
    font-size: 1.6rem;
}

.fs-lg {
    font-size: 2rem;
}

.fs-xlg {
    font-size: 2.5rem;
}

.fs-xxlg {
    font-size: 2.8rem;
}

.f-dark {
    color: #222;
}

.f-midtone {
    color: #4d4d4d;
}

.f-light {
    color: #a3a3a3;
}

.f-white {
    color: #fff;
}

.f-blue {
    color: $color-primary;
}

.fw-xlt {
    font-weight: 300;
}

.fw-lt {
    font-weight: 400;
}

.fw-md {
    font-weight: 500;
}

.fw-lg {
    font-weight: 600;
}

.fw-xlg {
    font-weight: 700;
}

.fw-xxlg {
    font-weight: 800;
}